*::-webkit-input-placeholder { color: rgba(0, 0, 0, 0.4); }
*::-moz-placeholder { color: rgba(0, 0, 0, 0.4); }
*::-ms-input-placeholder { color: rgba(0, 0, 0, 0.4); }
*:focus::-webkit-input-placeholder { color: rgba(0, 0, 0, 0.5); }
*:focus::-moz-placeholder { color: rgba(0, 0, 0, 0.5); }
*:focus::-ms-input-placeholder { color: rgba(0, 0, 0, 0.5); }