<div ng-controller="mainController">
    
        <header>
            <div class="content-middle">
                <h1> <i class="logo"></i> </h1>

                <div class="content-search">
                    <input type="text" placeholder="O que procura ?">
                </div>

                <div class="content-user" id="header"></div>

                <div class="content-menu" id="menu"></div>
            </div>
        </header>
        
    <div class="content-chat">
        chat
    </div>

    
</div>
