<div id="usuarioEditar">
    <ul class="btnTabs">
      <li><a rel="openGeral" class="OpenTabs">Geral</a></li>
      <li><a rel="openMusicas" class="OpenTabs">Músicas</a></li>
      <li><a rel="openVideos" class="OpenTabs">Videos</a></li>
      <li><a rel="openAnuncios" class="OpenTabs">Anúncios</a></li>
    </ul>

    <div id="preloader">
      <div id="statusPreloader">Carregando</div>
    </div>

    <div id="mainGeral"></div>
    <div id="mainMusicas">dsdsd</div>
    <div id="mainVideos">ewew</div>
    <div id="mainAnuncios">54545</div>
</div>